@model StoreSampel.UI.Models.OrdersViewModel.OrderViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<form asp-action="CheckOut" method="post">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="BrandID"></label>
                <select id="BrandID" asp-for="BrnadId" asp-items="@ViewBag.Brand" class="select2 form-control"></select>
                <span asp-validation-for="BrnadId" class="text-danger"></span>

            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="ModelID"></label>
                <select id="ModelID" asp-for="ModelId" class="select2 form-control">
                    <option value="">برند را انتخاب کنید</option>
                </select>
                <span asp-validation-for="ModelId" class="text-danger"></span>

            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="TypeID"></label>
                <select id="TypeID" asp-for="TypeId" class="select2 form-control"></select>
                <span asp-validation-for="TypeId" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-outline mt-3">
                <input asp-for="ProductType" id="form1" class="form-control" />
                <label class="form-label" asp-for="ProductType"></label>
                <span asp-validation-for="ProductType" class="text-danger"></span>
            </div>
           
        </div>
        <div class="col-md-6">
            <div class="form-outline mt-3">
                <input asp-for="ProductValues" id="form1" class="form-control" />
                <label class="form-label" asp-for="ProductValues"></label>
                <span asp-validation-for="ProductValues" class="text-danger"></span>

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-outline mt-3">
                <input asp-for="ProductType" id="form1" class="form-control" />
                <label class="form-label" asp-for="ProductType"></label>
                <span asp-validation-for="ProductType" class="text-danger"></span>
            </div>
           
        </div>
        <div class="col-md-6">
            <div class="form-outline mt-3">
                <input asp-for="ProductValues" id="form1" class="form-control" />
                <label class="form-label" asp-for="ProductValues"></label>
                <span asp-validation-for="ProductValues" class="text-danger"></span>

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-outline mt-3">
                <input asp-for="ProductType" id="form1" class="form-control" />
                <label class="form-label" asp-for="ProductType"></label>
                <span asp-validation-for="ProductType" class="text-danger"></span>
            </div>
           
        </div>
        <div class="col-md-6">
            <div class="form-outline mt-3">
                <input asp-for="ProductValues" id="form1" class="form-control" />
                <label class="form-label" asp-for="ProductValues"></label>
                <span asp-validation-for="ProductValues" class="text-danger"></span>

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-outline mt-3">
                <input asp-for="ProductType" id="form1" class="form-control" />
                <label class="form-label" asp-for="ProductType"></label>
                <span asp-validation-for="ProductType" class="text-danger"></span>
            </div>
           
        </div>
        <div class="col-md-6">
            <div class="form-outline mt-3">
                <input asp-for="ProductValues" class="form-control" />
                <label class="form-label" asp-for="ProductValues"></label>
                <span asp-validation-for="ProductValues" class="text-danger"></span>

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-outline mt-3">
                <input asp-for="ProductType" class="form-control" />
                <label class="form-label" asp-for="ProductType"></label>
                <span asp-validation-for="ProductType" class="text-danger"></span>
            </div>
           
        </div>
        <div class="col-md-6">
            <div class="form-outline mt-3">
                <input asp-for="ProductValues" class="form-control" />
                <label class="form-label" asp-for="ProductValues"></label>
                <span asp-validation-for="ProductValues" class="text-danger"></span>

            </div>
        </div>
   
        <div class="AddProducts mt-4 row">
            
          <button class="btn btn-outline-success" type="button" onclick="AddedProductToHtml()"><span class="fa fa-plus"></span></button>  
        </div>
        <div class="col-12 mt-4">
            <button type="submit" class="btn btn-success btn-block">ثبت</button>
        </div>

    </div>
</form>
@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}
@section Ajax
{

    <script>
        function AddedProductToHtml() {
            var prodcut = $('<div class="col-md-6"><div class=" mt-3">' +
                ' <label class="form-label" name="ProductType">نوع کالا</label>'+
                '<input name="ProductType" class="form-control" />'+
                '<span class="text-danger field-validation-valid" data-valmsg-for="ProductType" data-valmsg-replace="true"></span>'+
                ' </div></div> <div class="col-md-6"><div class=" mt-3">' +
                ' <label class="form-label" name="ProductValues">تعداد کالا</label>'+
                ' <input name="ProductValues" class="form-control" />'+
                '<span class="text-danger field-validation-valid" data-valmsg-for="ProductValues" data-valmsg-replace="true"></span>');

            $(".AddProducts").append(prodcut);
        }
        $("#BrandID").change(function () {
            console.log("ok");
            $.ajax({

                url: "@Url.Action("GetModel")",
                type: "get",
                dateType: "json",
                data: { id: $(this).val()},
                success: function (data) {
                    var ModelSelect = $("#ModelID");
                    ModelSelect.empty();
                    var jsonArray = JSON.parse(data);
                    for (var i = 0; i < jsonArray.length; i++) {
                        ModelSelect.append(
                            $('<option/>').attr('value', jsonArray[i]["Id"]).text(jsonArray[i]["Name"])
                        );
                    }
                },

                error: function () { alert('Error');}
            });
        });
        $("#ModelID").change(function () {
            console.log("ok");
            $.ajax({

                url: "@Url.Action("GetBrands")",
                type: "get",
                dateType: "json",
                data: { id: $(this).val()},
                success: function (data) {
                    var ModelSelect = $("#TypeID");
                    ModelSelect.empty();
                    var jsonArray = JSON.parse(data);
                    for (var i = 0; i < jsonArray.length; i++) {
                        ModelSelect.append(
                            $('<option/>').attr('value', jsonArray[i]["Id"]).text(jsonArray[i]["Name"])
                        );
                    }
                },

                error: function () { alert('Error');}
            });
        });
    </script>


}
