@model StoreSampel.UI.Models.OrdersViewModel.OrderViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<form asp-action="CheckOut" method="post">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="BrandID"></label>
                <select id="BrandID" asp-for="BrnadId" asp-items="@ViewBag.Brand" class="select2 form-control"></select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="ModelID"></label>
                <select id="ModelID" asp-for="ModelId" class="select2 form-control">
                    <option value="">برند را انتخاب کنید</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="TypeID"></label>
                <select id="TypeID" asp-for="TypeId" class="select2 form-control"></select>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-outline mt-4">
                <input id="form1Example2" asp-for="ProductType" class="form-control" />
                <label class="form-label" for="form1Example2" asp-for="ProductType"></label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-outline mt-4">
                <input id="form1Example2" asp-for="ProductValues" class="form-control" />
                <label class="form-label" for="form1Example2" asp-for="ProductValues"></label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-outline mt-4">
                <input id="form1Example2" asp-for="ProductType" class="form-control" />
                <label class="form-label" for="form1Example2" asp-for="ProductType"></label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-outline mt-4">
                <input id="form1Example2" asp-for="ProductValues" class="form-control" />
                <label class="form-label" for="form1Example2" asp-for="ProductValues"></label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-outline mt-4">
                <input id="form1Example2" asp-for="ProductType" class="form-control" />
                <label class="form-label" for="form1Example2" asp-for="ProductType"></label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-outline mt-4">
                <input id="form1Example2" asp-for="ProductValues" class="form-control" />
                <label class="form-label" for="form1Example2" asp-for="ProductValues"></label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-outline mt-4">
                <input id="form1Example2" asp-for="ProductType" class="form-control" />
                <label class="form-label" for="form1Example2" asp-for="ProductType"></label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-outline mt-4">
                <input id="form1Example2" asp-for="ProductValues" class="form-control" />
                <label class="form-label" for="form1Example2" asp-for="ProductValues"></label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-outline mt-4">
                <input id="form1Example2" asp-for="ProductType" class="form-control" />
                <label class="form-label" for="form1Example2" asp-for="ProductType"></label>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="form-outline mt-4">
                <input id="form1Example2" asp-for="ProductValues" class="form-control" />
                <label class="form-label" for="form1Example2" asp-for="ProductValues" ></label>
            </div>
        </div>
        <div class="Appended row">
            
        </div>
        <div class="m-5 ">
            <span>برای کالا های بیشتر روی مثبت زیر کلیک کنید</span>
            <button class="btn btn-success" type="button">
                <i class="fa fa-plus" id="AddProdusts" aria-hidden="true"></i>

            </button>
        </div>
        <div class="col-12 mt-4">
            <button type="submit" class="btn btn-success btn-block">ثبت</button>
        </div>

    </div>
</form>
@section Ajax
{
    
    <script>
        $("#AddProdusts").click(() => {
           
           $(".Appended").html('<div class="col-md-6"><div class="form-outline mt-4"><input id="form1Example2" name="ProductValues" class="form-control" /><label class="form-label" for="form1Example2" name="ProductValues"></label> ' +
                '</div></div><div class="col-md-6"><div class="form-outline mt-4"> <input id="form1Example2" name="ProductType" class="form-control" /> <label class="form-label" for="form1Example2" name="ProductType"></label></div></div>');
            
         
        });
        $("#BrandID").change(function () {
            console.log("ok");
            $.ajax({
            
                url: "@Url.Action("GetModel")",
                type: "get",
                dateType: "json",
                data: { id: $(this).val()},
                success: function (data) {
                    var ModelSelect = $("#ModelID");
                    ModelSelect.empty();
                    var jsonArray = JSON.parse(data);
                    for (var i = 0; i < jsonArray.length; i++) {
                        ModelSelect.append(
                            $('<option/>').attr('value', jsonArray[i]["Id"]).text(jsonArray[i]["Name"])
                        );
                    }
                },

                error: function () { alert('Error');}
            });
        });
        $("#ModelID").change(function () {
            console.log("ok");
            $.ajax({
           
                url: "@Url.Action("GetBrands")",
                type: "get",
                dateType: "json",
                data: { id: $(this).val()},
                success: function (data) {
                    var ModelSelect = $("#TypeID");
                    ModelSelect.empty();
                    var jsonArray = JSON.parse(data);
                    for (var i = 0; i < jsonArray.length; i++) {
                        ModelSelect.append(
                            $('<option/>').attr('value', jsonArray[i]["Id"]).text(jsonArray[i]["Name"])
                        );
                    }
                },

                error: function () { alert('Error');}
            });
        });
    </script>


}
