@model IEnumerable<StoreSampel.UI.Areas.Admin.ViewModel.BrandViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
    <a href="/admin/brand/Create" class="btn btn-success">ثبت برند جدید</a>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">نام برند</th>
        <th scope="col">عملیات</th>
    </tr>
    </thead>
    <tbody>
    @{ int i = 1;}
    @foreach (var item in Model)
    {
        <tr>
            <th scope="row">@i</th>
            <td>@item.Name</td>

            <td>
                <a class="btn btn-warning" href="/Admin/Brand/Edit/@item.Id"> ویرایش</a>
             
                <a class="btn btn-danger" href="/Admin/Brand/Delete/@item.Id">حذف</a>
            </td>
        </tr>
         i++;
        
   
    }
   

    </tbody>
</table>

