@font-face {
    font-family: IRANSans;
    src: url("/Fonts/IRANSansWeb_Light.woff") format("woff");
    font-style: normal;
    font-weight: 300;
    font-display: swap;    
}
@font-face {
    font-family: IRANSans2;
    src: url("/Fonts/IRANSansWeb.woff") format("woff");
    font-style: normal;
    font-weight: normal;
    font-display: swap;    
}
@font-face {
    font-family: IRANSans3;
    src: url("/Fonts/IRANSansWeb_Medium.woff") format("woff");
    font-style: normal;
    font-weight: 500;
    font-display: swap;    
}
body {
    font-family: IRANSans;
}
